

.table-container {
  max-height: 70vh;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 2px !important;
}

th.mat-header-cell, td.mat-cell {
  text-align: left;
  padding: 1ex 0.5rem !important;
  font-size: 14px;
  line-height: 1.0 !important;
  height: 100%;
  border: none;
}

th.mat-header-cell {
  font-weight: 800;
  padding: 3ex 0.5rem 1ex 0.5rem !important;
}

th.mat-header-cell.symbolic, td.mat-cell.symbolic {
  text-align: center;
}

th.mat-header-cell.numeric, td.mat-cell.numeric {
  text-align: right;
}

.mat-header-cell:nth-child(odd) {
  background-color: $dark-column-header;
}

.mat-header-cell:nth-child(even) {
  background-color: $light-column-header;
}

.mat-row {
  cursor: pointer;
}

.mat-row:nth-child(odd) .mat-cell:nth-child(odd) {
  background-color: $light-row-dark-column;
}

.mat-row:nth-child(odd) .mat-cell:nth-child(even) {
  background-color: $light-row-light-column;
}

.mat-row:nth-child(even) .mat-cell:nth-child(odd) {
  background-color: $dark-row-dark-column;
}

.mat-row:nth-child(even) .mat-cell:nth-child(even) {
  background-color: $dark-row-light-column;
}
