@import '~@angular/material/theming';
// Plus imports for other components in your app.
@import "palette";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$blt-app-primary: mat-palette($blt-primary);
$blt-app-accent: mat-palette($blt-brand);

// The warn palette is optional (defaults to red).
$blt-app-warn: mat-palette($mat-pink);

// Create the theme object (a Sass map containing all of the palettes).
$blt-theme: mat-light-theme($blt-app-primary, $blt-app-accent, $blt-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($blt-theme);
