$primary-brand-color: #792082;

$primary-background-grey: #f8f8f8;
$secondary-background-grey: #f4f4f4;
$tertiary-background-grey: #e4e3e3;

$primary-element-brand-color: #792082;
$secondary-element-brand-color: #a163a8;
$tertiary-element-brand-color: #a163a8;

$dark-column-header: #e5e5e5;
$light-column-header: #f0f0f0;
$light-row-dark-column: #ebebeb;
$light-row-light-column: #f8f8f8;
$dark-row-dark-column: #e3e3e3;
$dark-row-light-column: #ececec;

$error-state-color: red;

$sidebar-icon-color: #0000008a;

$link-color: blue;

/* icons or text on a primary brand color background */
$against-primary-element-brand-color: #ffffff;
