<mat-toolbar color="primary" class="expanded-toolbar">
  <span>
    <button mat-button class="home-button" routerLink="/">
      <img src="/assets/logo2-white.png" alt="Logo"/>
      {{ title }}
    </button>
  </span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-button (click)="login()" *ngIf="!isAuthenticated">
      <mat-icon>power_settings_new</mat-icon>
      Login
    </button>
    <button mat-button (click)="logout()" *ngIf="isAuthenticated">
      <mat-icon>exit_to_app</mat-icon>
      Logout
    </button>
    <button mat-button routerLink="/game">
      <mat-icon>gamepad</mat-icon>
      Play
    </button>
  </div>
  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item routerLink="/">
    <mat-icon>home</mat-icon>
    Home
  </button>
  <button mat-menu-item routerLink="/game">
    <mat-icon>gamepad</mat-icon>
    Play
  </button>
  <button mat-menu-item routerLink="/profile">
    <mat-icon>face-profile</mat-icon>
    Profile
  </button>
  <button mat-button (click)="login()" *ngIf="!isAuthenticated">
    <mat-icon>power_settings_new</mat-icon>
    Login
  </button>
  <button mat-button (click)="logout()" *ngIf="isAuthenticated">
    <mat-icon>exit_to_app</mat-icon>
    Logout
  </button>
</mat-menu>

<router-outlet></router-outlet>

<ngx-pwa-install #pwa (prompt)="showPanel=true">
  <div class="pwa-install-panel bottom-panel" (click)="pwa.install()">
    <mat-card>
      You can install this application to your device
      <button mat-raised-button
              color="primary"
              (click)="pwa.install()">
        INSTALL
      </button>
    </mat-card>
  </div>
</ngx-pwa-install>
