.expanded-toolbar {
  justify-content: space-between;
  align-items: center;
}

.bottom-panel {
  position: fixed;
  width: 80%;
  bottom: 5px;
  left: 10%;
  text-align: center;
}

.home-button {
  font-size: 150%;
}

.home-button img {
  height: 70px;
}
