/* You can add global styles to this file, and also import other style files */
//@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~material-design-icons/iconfont/material-icons.css";

@import 'styles/theming';
@import 'styles/variables';
@import 'styles/rem';
@import 'styles/table';

body {
  margin: 0;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

.hidden {
  display: none;
}
