<h1>balt4saar</h1>

<mat-card *ngIf="(isUpdateAvailable | async)?.type === 'UPDATE_AVAILABLE'">
  <mat-card-header>
    <mat-card-title>Update Available</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    current version:
    <pre>
      <code>{{(isUpdateAvailable | async)?.current | json}}</code>
    </pre>
    available version:
    <pre>
      <code>{{(isUpdateAvailable | async)?.available | json}}</code>
    </pre>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="doUpdate()">Update</button>
  </mat-card-actions>
</mat-card>
